<h1>{{editMode ? "Edit" : "Create New"}} Product</h1>

<form [formGroup]="form" (ngSubmit)="submit()">

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Image URL</mat-label>
        <input matInput formControlName="imageUrl">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId">
            @for (i of categories; track i.id) {
            <mat-option value={{i.id}}>{{i.name}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <div class="row">
        <mat-form-field floatLabel="always">
            <mat-label>Price</mat-label>
            <input formControlName="price" matInput type="number" placeholder="0" />
            <span matTextPrefix>$&nbsp;</span>
            <span matTextSuffix>.00</span>
        </mat-form-field>

        <mat-form-field floatLabel="always">
            <mat-label>Quantity</mat-label>
            <input formControlName="quantity" matInput type="number" placeholder="0" />
        </mat-form-field>

        <mat-form-field floatLabel="always">
            <mat-label>Discount</mat-label>
            <input formControlName="discount" matInput type="number" placeholder="0" />
            <span matTextPrefix>%&nbsp;</span>
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput></textarea>
    </mat-form-field>

    <div class="row">
        <button type="button" (click)="back()" mat-raised-button>
            <mat-icon>arrow_back</mat-icon>Back
        </button>
        <button type="submit" mat-raised-button>
            <mat-icon>{{editMode ? "edit" : "add"}}</mat-icon>{{editMode ? "edit" : "add"}}
        </button>
    </div>
</form>