<mat-toolbar>
    <button routerLink="/" mat-icon-button>
        <mat-icon>home</mat-icon>
    </button>
    <span>Shop</span>

    <span class="spacer"></span>
    <button routerLink="/products" mat-icon-button>
        <mat-icon>format_list_bulleted</mat-icon>
    </button>
    <button routerLink="/about" mat-icon-button>
        <mat-icon>info</mat-icon>
    </button>

    <span class="spacer"></span>
    <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>