<h1>Product Catalog</h1>
<h3>Find the best product for you!</h3>

<div class="container">
    @for (i of products; track i.id) {
    <mat-card class="card" appearance="outlined">
        <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>{{i.name}}</mat-card-title>
            <mat-card-subtitle>{{i.categoryName}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{i.imageUrl}}" alt="{{i.name}}">
        <mat-card-content>
            <p>
                {{i.price}}$ - Available: {{i.quantity}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Buy</button>
            <button mat-button>Add to Cart</button>
        </mat-card-actions>
    </mat-card>
    }
</div>
